<main class="main">
  <div class="content">
    <div class="left-side">
      <div class="title-content">
       <h3>{{ title }}</h3>
      </div>
      <!-- component enfant importé -->
      <!-- reçoit les données du component enfant : calculator -->
      <app-calculator (calculateEvent)="receiveCalculData($event)"></app-calculator>     
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <!-- component enfant importé -->
      <!-- envoie les données au component enfant history -->
      <app-history [histoyItems]="modelObjectList"></app-history>
    </div>
  </div>
</main>

<router-outlet />
